@font-face {
    font-family: Nunito;
    src: url(../Fonts/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: PoetsenOne;
    src: url(../Fonts/PoetsenOne-Regular.ttf);
}

.auth-panel {
    background-color: #2196F3;
    width: 58rem;
    height: 32rem;
    border-radius: 2.4rem;
    margin: 2.4rem auto;
    padding: 0.8rem 2.4rem;
    display: flex;
}

.auth-panel h2 {
    font-family: Nunito;
    margin: 0 auto;
}